<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OxesTrading InSurin</title>
  <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,700;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/2230/2230283.svg">
</head>

<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://www.img.in.th/images/d6ad37f41bc19c0a062d4e47affe23c2.jpg) no-repeat;
    background-size: cover;
    color: rgb(7, 7, 7);
    font-family: 'Mali', cursive;

  }

  .btn{
    width: 25%;
    background: none;
    border: 2px solid #4caf50;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000	;
    background-color: #FFC0CB;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    }
    .w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">OxesTrading InSurin</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/aboutcow">เกี่ยวกับวัว</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/register">สมัครสมาชิก</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/post">โพสต์ขายวัว</a>
                </li>
            </ul>
        {% if user.is_authenticated %}
        <a class="main-button"><h6><font color="#145A32 ">WELCOME USER NAME : {{ user }}</font></h6>
        </a> &emsp;&emsp;&emsp;
        <a class="btn btn-outline-success"><a href="/logout">LOGOUT</a></a>{% endif %}
        </div>
    </div>
    </nav>
        <div class="container">
            <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h2 style="font-size:50px;" Color="black" align = 'center' >การเลี้ยงโคขุน</h2>
                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px" >
                <div class="w3-row-padding w3-padding-16 w3-center">
                        <div class="w3-quarter">
                            <img src="https://www.img.in.th/images/685eba6ca45cc7113f3b4877e9c57a65.jpg" style="width:100%">
                            <h3>โคขุนเลี้ยงนานกำไรหาย</h3>
                            <p>ควรขุนแค่ระยะที่โคสร้างกล้ามเนื้อเต็มที่แล้ว (stor codition) ซึ่งเป็นระยะที่โคเริ่มสะสมไขมัน ไม่ขุนให้อ้วนเกินไป ต้นทุนค่าขุนจะสูงขึ้น</p>
                            </div>
                        <div class="w3-quarter">
                            <img src="https://www.img.in.th/images/483c988d7dbc07791647f0174c297217.jpg" style="width:100%">
                            <h3>หลักการสร้างโรงเรือน โคขุนที่ดี</h3>
                            <p>โรงเรือนโคขุนหรือโรงเรือนเลี้ยงโค ถือเป็นสิ่งจำเป็นสำหรับเกษตรกรผู้เลี้ยงโคสำหรับเป็นที่พักอาศัยของโค โดยเฉพาะอย่างยิ่งการเลี้ยงโคขุนที่จำเป็นต้องเลี้ยงโคในโรงเรือนเพื่อขุนโคให้มีน้ำหนักเพิ่มขึ้นเนื้อนุ่มมีไขมันต่ำ</p>
                            <p> 1. สถานที่</p>
                            <p>1.1 ควรเป็นที่ดอน ຣะบายน้ำได้ดี หรือວาจจะต้องถมพื้นที่ ให้สูงกว่าระดับปกติเพื่อไม่ให้น้ำขังในฤดูฝน</p>
                            <p>1.2 ควຣมีทางให้ຣถบรรทุกเข้าออกได้ เพื่ວความสะดวกในการนำโคเข้าขุนและส่งตลาด</p>
                            <p>1.3 ควຣให้ความยาวของคວกอยู่ทิศตะวันอວก-ตะวันตก</p>
                            <p> 1.4 วางแผนให้สามาຣถขยายกิจการได้ในວนาคต</p>
                            </div>
                        <div class="w3-quarter">
                            <img src="https://taradko.com/wp-content/uploads/2019/06/%E0%B9%81%E0%B8%A1%E0%B9%88%E0%B8%9E%E0%B8%B1%E0%B8%99%E0%B8%98%E0%B8%B8%E0%B9%8C%E0%B8%94%E0%B8%B5-749x374.jpg" style="width:100%">
                            <h3>“แม่พันธุ์ดี” เล่นวัวยุคนี้มีวิธีเลือกยังไง</h3>
                            <p>การคัดเลือกแม่พันธุ์ในยุคนี้สมัยนี้นั้น แบบไหนจะดี…คุ้มทุนได้ลุ้นยาวๆ
                            เข้าสู่หน้าหนาวเต็มตัวครับ เสร็จการเก็บเกี่ยวก็เป็นช่วงดีสำหรับการประกวดวัว จากนี้ไปถึงกุมภาพันธ์ลุ้นกันมันส์ส์ส์…สนุกสนานแน่นอนครับ ท่านที่หาสวยๆก็ขอให้เจอให้สมหวังท่านที่ลุ้นวัวคลอดก็ขอให้ออกมาสมหวัง ได้สวยๆ เลี้ยงง่ายๆโตไวๆกำไรงามๆค้ำคูณๆ ครับการเริ่มข่าวสารในยุคใหม่ของการเลี้ยงวัวงามสมัยนี้นั้น ขอเอ่ยถึงการเล่นแม่วัวการคัดแม่วัวมาเลี้ยงมาเป็นแ
                            ม่พันธุ์ในคอกของเราครับ โดยเฉพาะยุคนี้เงินทองหายากมาก เมื่อลงทุนไปแล้วสิ่งที่ตอบแทนกลับมาคือกำไร คนเลี้ยงก็มีแรงมีหนทางไปต่อ แต่จะหาแบบไหนอย่างไรถึงจะเรียกว่า “คุ้ม”หรือมีโอกาสได้ลุ้นยาวๆมาดูกัน  ก่อนอื่นขออกตัวบทความนี้เหมาะสำหรับคนที่กระเป๋าบางๆเงินน้อยหรือเริ่มใหม่ ไม่เหมาะสำหรับเสี่ยใหญ่หรือฟาร์มใหญ่ใจทุ่มเงินถึงนะครับ    ประวัติดี  ประวัติในที่นี้คือ  สืบสายเลือดได้ว่าลูกเต้าเหล่าใครอย่างชัดเจน ไม่มั่วสายเลือด มีที่ไปที่มาหาบ้านเกิดเรือนนอนได้ คนจะพัฒนาต่อจะได้วางแผนหาพ่อพันธุ์มาใส่ได้ถูกต้อง ซึ่งในยุคนี้การหลอกลวงสายเลือดเป็นสิ่งที่ควรจะหมดไปแล้วด้วยซ้ำไป คนเล่นอินดูเป็นคนที่ชอบจินตนาการ ชอบออกแบบชอบวางแผน ฉะนั้นวัวประวัติดีมีความชัดเจนจะถูกนำไปพัฒนาวางแผนอย่างถูกต้องชัดเจนเหมาะเป็นแม่วัว
                            ไม่มีปัญหาหรือตำหนิ วัวที่ไม่มีปัญหาเราก็จะไม่เสียเวลา ปัญหาหนักๆ ที่แก้ยากเช่น แท้งลูก เต้านมอักเสบ มดลูกทะลัก ผสมนับสิบครั้งยังไม่ติด เราควรหลีกเลี่ยงแม่วัวมีปัญหาเหล่านี้ แต่อย่าลืมว่าวัวแทบทุกตัวมีจุดอ่อนบางตัวอาจมีตำหนิบ้างนิดหน่อยๆ ไม่หนักหนาสาหัส คิดว่าถ้าคุ้มทุน ในอนาคตก็ไปต่อได้เพราะจะหาวัวที่เพอร์เฟค มีทุกอย่างในตัวเดียวครบสรรพนั้นยากมากครับ</p>
                            </div>
                        <div class="w3-quarter">
                            <img src="https://taradko.com/wp-content/uploads/2019/06/341-1477x738.jpg" style="width:100%">
                            <h3>การหย่านมลูกโค</h3>
                            <p>การหย่านมลูกโคที่อายุต่ำกว่า 5 สัปดาห์ จะต้องให้อาหารนมหรืออาหารแทนนมแบบเดียวกับการเลี้ยงลูกโคนม ควรให้ลูกโคกินอาหารหยาบพวกหญ้า ไม่เกิน 15% วัตถุแห้งของอาหารลูกโค ถ้ามากกว่านี้จะทำให้ประสิทธิภาพการใช้อาหารข้นลดลงเพราะจะไป แย่งเนื้อที่ในกระเพาะ ปริมาณอาหารข้นไม่ควรต่ำกว่า 50% แต่ควรเป็น 85% วัตถุแห้ง ถ้าจำเป็นที่ต้องให้ปลา หรือเนื้อป่นในอาหารเพื่อเป็นแหล่งโปรตีนก็ควรจะรอให้ลูกโคกินอาหารเก่งเสียก่อนจึงค่อยผสมในอาหาร เพราะจะไปลดความน่ากิน การเลี้ยงลูกโคขนาดเล็กดังกล่าวต้องใช้อาหารคุณภาพดีซึ่งมีราคาค่อนข้างแพง ดังนั้นหากไม่จำเป็นก็ไม่ควรหย่านมลูกโคเร็วเกินไป
                            ลูกโคที่ยังไม่สมบูรณ์แข็งแรงอาจหย่านมช้าลง โดยให้อยู่กับแม่ไปจนถึงอายุ 8 เดือน แต่ก็จะทำให้แม่ โคมีสุขภาพทรุดโทรมมาก มีผลทำให้เมื่อคลอดลูกตัวใหม่แล้วจะกลับเป็นสัดช้าลง ระยะเวลาในการให้ลูกตัว ต่อๆไปจะห่างขึ้น</p>
                            <p>ในฝูงปรับปรุงพันธุ์ของกรมปศุสัตว์จะหย่านมที่ลูกโคอายุประมาณ 200 วัน แต่เพื่อความสะดวกในการ จัดการจะไม่หย่านมเมื่อลูกโคอายุ 200 วันทุกตัว แต่จะหย่านมลูกโคทุกตัวที่มีอายุ 200 ± 22.5 วันหรือที่อายุ ห่างจาก 200 วันเท่ากับ 22 วัน โดยลูกโคที่แยกหย่านมกลุ่มนี้จะมีอายุห่างกันไม่เกิน 45 วัน(age slicing = 45 วัน) ซึ่งในทางสถิติถือว่าลูกโคอยู่ในกลุ่มเดียวกัน(contemporary group) สามารถนำน้ำหนักหย่านมมา เปรียบเทียบกันได้ โดยจะหย่าเมื่อหลังจากลูกโคที่คลอดตัวแรกมีอายุแล้ว 22.5 (หรือ 23 วัน) ลูกโคที่จะต้องถูก แยกหย่านมแม่ได้แก่ลูกโคที่คลอดตัวแรกซึ่งมีอายุ 223 วัน(ได้แก่ 200 + 23 วัน)ไปจนถึงลูกโคที่มีอายุอายุน้อย ที่สุด 177.5 วัน (200 – 22.5 วัน) หรือ 178 วัน ลูกโครุ่นต่อไปจะหย่านมหลังจากหย่านมครั้งแรก 45 วัน</p>
                            <p>ก่อนหย่านมควรให้ลูกโคได้มีโอกาสกินหญ้าในแปลงที่มีคุณภาพดีในขณะที่แม่โคได้กินหญ้าคุณภาพต่ำ กว่า แต่ลูกโคสามารถมาหาแม่ได้ตามที่ต้องการ ช่องลอดระหว่างแปลงห่างประมาณ 40-45 ซม. เมื่อหย่านมควรแน่ใจว่ามีอาหารให้ลูกโคกินอย่างเพียงพอ ถ้ายังไม่พร้อมก็ยังไม่ควรหย่านม ระยะหย่านมและหลังหย่านมควรมีอาหารคุณภาพดีให้ลูกโคกินอย่างเพียงพอ
                            หย่านมโดยแยกลูกโคจากแม่นำไปขังในคอกที่แข็งแรง ควรให้แม่โคอยู่ในแปลงหญ้าหรือคอกที่มีรั้วกั้น ที่มั่นคงซึ่งอยู่ใกล้กันเป็นเวลา 3-5 วัน เพราะหากให้ไปอยู่ไกลแม่โคส่วนหนึ่งจะแหกรั้วหรือคอกมาหาลูก หลังจาก 3-5 วันแม่โคจะเริ่มยอมรับสภาพและค่อยๆห่างไปจนสามารถต้อนไปแปลงหรือคอกที่ห่างไกลได้
                            ขังลูกไว้ในคอกประมาณ 7-10 วันโดยให้กินอาหารข้นและอาหารหยาบอย่างเต็มที่ คอกลูกโคหย่านม จะต้องอยู่ห่างจากคอกแม่พันธุ์ ระยะนี้เป็นการฝึกให้ลูกโคคุ้นเคยกับการให้อาหาร แร่ธาตุ การเข้าคอกคัด การ พ่นเห็บหรือซองต่างๆ การไล่ต้อน ซึ่งจะมีความสำคัญในการให้ประสบการณ์แก่โคไปตลอด ที่สำคัญก็คือ ควร เลี้ยงในแปลงหญ้าหรือคอกที่มีความมั่นคงแข็งแรงไม่ให้ลูกโคหนีได้ หากลูกโคสามารถหนีได้จะติดนิสัยไป ตลอด
                            ในฟาร์มที่เลี้ยงลูกโคขาย การที่จะได้กำไรมากหรือน้อยขึ้นอยู่กับจำนวนลูกโคที่หย่านมได้ในแต่ละปี ลูกโคที่หย่านมในฝูงจะน้อยหรือมากขึ้นอยู่กับปัจจัยต่างๆตามตารางที่ 5 ดังนั้นการจัดการเลี้ยงดูตามขั้นตอน ตามที่ได้กล่าวมาข้างต้นจึงมีผลต่อการผลิตลูกโคหย่านมมาก</p>
                         </div>
                    </div>
                </div>
            </div>
            </div>
            </div>


</body>
</html>