<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OxesTrading InSurin</title>
  <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,700;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/2230/2230283.svg"> 
</head>

<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://www.img.in.th/images/d6ad37f41bc19c0a062d4e47affe23c2.jpg) no-repeat;
    background-size: cover;
    color: rgb(7, 7, 7);
    font-family: 'Mali', cursive;
    
  }

  .btn{
    width: 25%;
    background: none;
    border: 2px solid #4caf50;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #000000	;
    background-color: #FFC0CB;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    }
    .w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">OxesTrading InSurin</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/aboutcow">เกี่ยวกับวัว</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/register">สมัครสมาชิก</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/post">โพสต์ขายวัว</a>
                </li>
            </ul>
        {% if user.is_authenticated %}
        <a class="main-button"><h6><font color="#145A32 ">WELCOME USER NAME : {{ user }}</font></h6>
        </a> &emsp;&emsp;&emsp;
        <a class="btn btn-outline-success"><a href="/logout">LOGOUT</a></a>{% endif %}
        </div>
    </div>
    </nav>
        <div class="container">
            <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px" >
                <div class="w3-row-padding w3-padding-16 w3-center">
                        <div class="w3-quarter">
                        <img src="https://taradko.com/wp-content/uploads/2019/09/keyMaster125L-big-650x325.jpg" style="width:100%">
                        <h3>โคพันธุ์เฮียร์ฟอร์ด – Hereford Breed</h3>
                        <p>โคเฮอร์ฟอร์ด เป็นโคเนื้อพันธุ์เก่าแก่อันดับ 2 รองจากโคชอร์ตฮอร์น ที่มีประวัติมายาวนาน กว่า 200 ปี และยังคงเป็นพันธุ์โคเนื้อที่ใช้ผลิตเนื้อคุณภาพดีเลี้ยงพลโลกอยู่ในปัจจุบัน
                             โคเฮอร์ฟอร์ด เป็นโคเนื้อที่มีลักษณะอันพึงประสงค์สำหรับการผลิตเนื้ออยู่อย่างครบถ้วน เป็นต้นว่า สมบูรณ์พันธุ์ ลักษณะทางการสืบพันธุ์ดี ขนาดและการเจริญเติบโตที่พอเหมาะ 
                             ขุนได้ดี คุณภาพซากดีเยี่ยม ค่าใช้จ่ายในการเลี้ยงดูต่ำ กล้ามเนื้อและการให้นมเหมาะสม ปรับตัวได้ดี มีความทนทาน ลักษณะนิสัยดีและผลิตเป็นโคลูกผสมได้ดี</p>
                        </div>
                        <div class="w3-quarter">
                            <img src="https://taradko.com/wp-content/uploads/2019/09/Belgian-Blue-Cattle-731x365.jpg" style="width:100%">
                            <h3>โคพันธุ์เบลเยี่ยมบลู – Belgian Blue Cattle</h3>
                            <p>เป็นสายพันธุ์โคจากประเทศเบลเยียม  โคเบลเยี่ยมบลู มีชื่อเสียงในด้าน การมีกล้ามเนื้อมากกว่าปกติ ที่เรียกว่า “double-muscling” และยังมีข้อดีอื่นๆเช่น
                                 ด้านการเจริญเติบโตเร็ว เปอร์เซ็นต์ซากสูง คุณภาพเนื้อดี เนื้อนุ่มมีไขมันต่ำ</p>
                            </div>
                            <div class="w3-quarter">
                                <img src="https://taradko.com/wp-content/uploads/2019/09/Tuxedo-Lg-800x400.jpg" style="width:100%">
                                <h3>โคพันธุ์เท็กซัส ลองฮอร์น – Texas Longhorn Cattle</h3>
                                <p>เป็นสายพันธุ์ของวัวที่รู้จักกันดีคือเป็นวัวที่มีลักษณะเขาที่ยาว และเป็นลูกหลานของวัวตัวแรก ที่ก้าวท้าวลงไปในแผ่นดินของทวีปอเมริกาเหนือ 
                                    เมื่อประมาณ 500 ปีก่อน</p>
                                </div>
                    </div>
                </div> 
            </div>
            </div>
            </div>
    

</body>
</html>