<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OxesTrading InSurin</title>
  <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,700;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/2230/2230283.svg"> 
</head>
<style>
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://www.img.in.th/images/d6ad37f41bc19c0a062d4e47affe23c2.jpg) no-repeat;
    background-size: cover;
    color: rgb(7, 7, 7);
    font-family: 'Mali', cursive;
  }
  .btn{
    width: 25%;
    background: none;
    border: 2px solid #4caf50;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
</style>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">OxesTrading InSurin</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutcow">เกี่ยวกับวัว</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">สมัครสมาชิก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">เข้าสู่ระบบ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post">โพสต์ขายวัว</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <a class="main-button"><h6><font color="#145A32 ">WELCOME USER NAME : {{ user }}</font></h6>
      </a> &emsp;&emsp;&emsp;
      <a class="btn btn-outline-success"><a href="/logout">LOGOUT</a></a>{% endif %}
    </div>
  </div>
</nav>
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5"> 
        <h4 style="font-Size:50Px;" align = 'center'><b>ซื้อขายวัว จังหวัดสุรินทร์ </b><br>(OxesTrading InSurin)  </h4><br>
        {% for a in Destinations %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="https://as2.ftcdn.net/jpg/02/30/60/51/500_F_230605120_L3cy2MAc4srVoI9hDdaoS9CNhQJDivYt.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
            <span class="w3-right w3-opacity" style="font-Size:35Px;" >{{ a.name }}</span>
            <hr class="w3-clear">
            <img src="{{ a.img }}" style="width:100%" class="w3-margin-bottom">
            <p style="font-Size:25Px;">ราคา:  {{ a.price }} ฿ </p>
            <p style="font-Size:25Px;">ข้อมูล:  {{a.desc}}</p>
            </div>
        {% endfor %}
      </div>
    </div>
    </div>





</body>
</html>