body {
    background: url('https://images.unsplash.com/photo-1518843875459-f738682238a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1026&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Mali', cursive;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://www.img.in.th/images/d6ad37f41bc19c0a062d4e47affe23c2.jpg) no-repeat;
    background-size: cover;
    color: white;
  }
  .fa_custom {
    color: #00080a
    }

 .btn{
      width: 25%;
      background: none;
      border: 2px solid #4caf50;
      color: white;
      padding: 5px;
      font-size: 18px;
      cursor: pointer;
      margin: 12px 0;
    }
